* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    line-height: 40px;
}

article {
    padding: 20px;
}

p {
    padding: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

.banner {
    display: none;
}

.boy-pic {
    width: 100%;
}

@media only screen and (min-width:768px) {
    .banner {
        display: block;
        width: 100%;
    }
    h2 {
        font-size: 60px;
        line-height: 50px;
    }
    p {
        font-size: 25px;
        line-height: 40px;
    }
}

@media only screen and (min-width:1000px) {
    .banner {
        height: 200px;
        padding-bottom: 20px;
    }
    .wrapper {
        width: 100%;
        padding: 10px;
    }
    .boy-pic {
        width: 50%;
        float: left;
        height: 100%;
    }
    article {
        width: 45%;
        float: right;
    }
}